{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}

<style type="text/css">
body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};
    }
</style>

{% endblock %}

{% block nav-global %}
     <form action="{% url 'set_language' %}" method="POST">
        {% csrf_token %}

         <input type="hidden" id="languageSwitcher" name="selected" value="{{ redirect_to}}">

             <select name="language" id="languageField">
                <option value="en" {% if "en" == LANGUAGE_CODE %} selected {% endif %}>{% trans "English" %}</option>
                <option value="am" {% if "am" == LANGUAGE_CODE %} selected {% endif %}>{% trans "Amharic" %}</option>
            </select>

        <input type="submit" id="languageSwitcher" value="Change">
    </form>
{% endblock %}
